<!DOCTYPE html>
<%- include('partials/header') %>

      <header class="header">
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">Drizzle.io</span>
                    <span class="heading-primary-subtitle">The weather app</span>
                </h1>
                <a href="weather" class="btn btn-white btn-animation">Discover</a>
            </div>
        </header>   
   
   <%- include('partials/footer') %>
